 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (max-width: 600px) {
    .table-cities{
        width: 100%;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 600px) {
    .table-cities{
        width: 100%;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .table-cities{
        width: 100%;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .table-cities{
        width: 90%;
    }
 } 



.PrincipalContainerTable{
    margin-bottom: 50px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.table-cities{
    height: 400px;
    
}