 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (max-width: 600px) {
    .alert{
        width: 90%;
    }
    .cityInsertContainer{
        justify-content: center;
        flex-direction: column;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 600px) {
    .alert{
        width: 90%;
    }
    .cityInsertContainer{
        justify-content: center;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .alert{
        width: 50%;
    }
    .cityInsertContainer{
        justify-content: center;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .alert{
        width: 50%;
    }
    .cityInsertContainer{
        justify-content: center;
    }

 } 



.alert{
    margin-bottom: 50px;
    position: absolute; 
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    left: 0;
    right: 0;
}

.cityInsertContainer{
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.ButtonContainer{
    margin-top: 20px;
}

.CityInsertPrincipalContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.submitButtonBlocked{
    background-color: gray !important;
    cursor: not-allowed !important;
}

.submitButton{
}